* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: darkblue;
    background-color: dark;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: firebrick;
    text-decoration: none;
}

.avatar {
    max-width: 10px;
}






a:hover {
    color: darkmagenta;
}
